.drawing-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
    .form-card {
        border: 1px solid black;
        border-radius: 2px;

        form {
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 200px;
            .button-form {
                border: 1px solid black;
                border-radius: 3px;
                padding: 2px 11px;
            }
            label.file-input {
                border: 1px solid #ccc;
                border-radius: 5px;
                display: inline-block;
                padding: 6px 12px;
                cursor: pointer;

                input[type="file"] {
                    display: none;
                }
            }
        }
    }
}
